image: Visual Studio 2017

version: '0.0.3+{build}'

build_script:
  - cp README.md README.txt
  - ps: Compress-Archive -Path sc2_scene_switcher.py -DestinationPath "obs-sc2-scene-switcher-windows-${Env:APPVEYOR_BUILD_VERSION}.zip"
  - ps: Compress-Archive -Path README.md -Update -DestinationPath "obs-sc2-scene-switcher-windows-${Env:APPVEYOR_BUILD_VERSION}.zip"
  - ps: Compress-Archive -Path README.txt -Update -DestinationPath "obs-sc2-scene-switcher-windows-${Env:APPVEYOR_BUILD_VERSION}.zip"
  - ps: Compress-Archive -Path LICENSE -Update -DestinationPath "obs-sc2-scene-switcher-windows-${Env:APPVEYOR_BUILD_VERSION}.zip"
  - ps: Invoke-WebRequest -Uri "https://www.python.org/ftp/python/3.6.5/python-3.6.5-embed-win32.zip" -OutFile python36.zip
  - ps: Expand-Archive -Path python36.zip -DestinationPath python36
  - ps: Compress-Archive -Path python36 -Update -DestinationPath "obs-sc2-scene-switcher-windows-${Env:APPVEYOR_BUILD_VERSION}.zip"
  - dir

artifacts:
  - path: 'obs-sc2-scene-switcher-windows-%APPVEYOR_BUILD_VERSION%.zip'

deploy:
  - provider: GitHub
    artifact: 'obs-sc2-scene-switcher-windows-%APPVEYOR_BUILD_VERSION%.zip'
    auth_token:
      secure: zlT9Lhys07Vl1jwbCrvHJdCkcmPZIUcAA750FhzJNt9qbuGldDzn4svOEH20GPnZ
    draft: false
    prerelease: false
    on:
      appveyor_repo_tag: true       # deploy on tag push only
