environment:
  github_auth_token:
    secure: zlT9Lhys07Vl1jwbCrvHJdCkcmPZIUcAA750FhzJNt9qbuGldDzn4svOEH20GPnZ

image: Visual Studio 2017

version: '0.0.3+{build}'

build_script:
  - cp README.md README.txt
  - ps: Compress-Archive -Path sc2_scene_switcher.py -DestinationPath obs-sc2-scene-switcher-windows-$(version).zip
  - ps: Compress-Archive -Path README.md -Update -DestinationPath obs-sc2-scene-switcher-windows-$(version).zip
  - ps: Compress-Archive -Path README.txt -Update -DestinationPath obs-sc2-scene-switcher-windows-$(version).zip
  - ps: Compress-Archive -Path LICENSE -Update -DestinationPath obs-sc2-scene-switcher-windows-$(version).zip

artifacts:
  - path: obs-sc2-scene-switcher-windows-$(version).zip

deploy:
  - provider: GitHub
    artifact: obs-sc2-scene-switcher-windows-$(version).zip
    auth_token: github_auth_token
    draft: false
    prerelease: false
    on:
      appveyor_repo_tag: true       # deploy on tag push only
